<!DOCTYPE html>
<html>
  <head>
    <title>Headcase</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <script>
      window.logoUrl = "<%= image_url("new-logo-svg.svg") %>";
      window.backgroundUrl = "<%= image_url("background_img.png") %>"
      window.loginBackgroundUrl = "<%= image_url("login_background.svg") %>"
      window.profilePicUrl = "<%= image_url("profile_pics.jpg") %>"
      window.userDashBackgroundUrl = "<%= image_url("yellow_background.png") %>"
      window.packYellow1 = "<%= image_url("pack_background_yellow_1.png") %>"
      window.packTeal1 = "<%= image_url("pack_background_teal_1.png") %>"
      window.packGray1 = "<%= image_url("pack_background_gray_1.png") %>"
      window.packListening = "<%= image_url("pack_listening.jpg") %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
