<!DOCTYPE html>
<html>
  <head>

    <meta property='og:title' content='headcase' />
    <meta property='og:image' content="<%= image_url("headcase-gif1.gif") %>"  />
    <meta property='og:description' content='headcase is a single page web app clone of the meditation website headspace' />
    <meta property='og:url' content="<%= image_url("headcase-gif1.gif") %>" />
    
    <meta
      name="headcase"
      content="headcase is a single page web app clone of the meditation website headspace that allows users to stream guided meditations."
    />

    <title>Headcase</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.ico')  %>
    <script>
      window.logoUrl = "<%= image_url("new-logo-svg.svg") %>";
      window.backgroundUrl = "<%= image_url("background_img.png") %>"
      window.loginBackgroundUrl = "<%= image_url("login_background.svg") %>"
      window.profilePicUrl = "<%= image_url("profile_pics.jpg") %>"
      window.userDashBackgroundUrl = "<%= image_url("yellow_background.png") %>"
      window.packYellow1 = "<%= image_url("pack_background_yellow_1.png") %>"
      window.packTeal1 = "<%= image_url("pack_background_teal_1.png") %>"
      window.packGray1 = "<%= image_url("pack_background_gray_1.png") %>"
      window.packListening = "<%= image_url("pack_listening.jpg") %>"
      window.footerImg = "<%= image_url("footer_background.png") %>"
      window.featuredPack = "<%= image_url("featured_pack.png") %>"
      window.aboutBackground = "<%= image_url("about_background.svg") %>"
      window.profileBackground = "<%= image_url("profile_background.svg") %>"
      window.headshot = "<%= image_url("christine_adams.jpg") %>"
      window.listening = "<%= image_url("listening.svg") %>"
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
